
header{position:absolute;
top:145px;
left:0px;
width: 100%;
height: 60px;
background-color:black;
}


header ul{float:left;
line-height:40px;
}

header li{clear:left;
    float:left;
    padding-left:10px;
    list-style:none;
    color:white;
    font-size:18px;
}


.main-container{clear:left;
    width:95%;
    margin: 0 auto;
    margin-top:70px;
}

    


.right{float:left;
    width: 30%;
    height:400px;
    margin-bottom:40px;
    
}


.right ul li{
    list-style-type:none;
    margin:40px;
}



.left{float:left;
      width:70%;
      height:450px;
}

h1{border-left:2px solid black;
border-bottom:2px solid black;}



.aaa{
    width:500px;
    height:200px;
    background-color: gray;
    
}


.aaa img{
    width:100px;
    margin:8px;
}

